.content{
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20%;
   
}
.inner-content{
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
h2{
    text-align:center;
    font-family: 'Indie Flower', cursive;
}
form{
    width:50%;
    margin:0 auto;
    text-align:center;
}
body{
     height:1000px;
     background: linear-gradient(to top, rgba(255,0,0,0), rgb(53, 2, 102));
     width:100%;
}
footer{
    position:absolute;
    padding:3px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:#bfbdc1;
    border-radius:10px;
}
